<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <property name="connection.url">jdbc:mysql://localhost:3306/foobar</property>
        <property name="connection.username">foo</property>
        <property name="connection.password">bar</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">50</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--<property name="hibernate.current_session_context_class">thread</property>-->

        <!--<property name="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>-->
        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>
        <property name="hibernate.transactionManager">org.springframework.orm.hibernate5.HibernateTransactionManager
        </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.learn.demo.model.DemoModel"/>
    </session-factory>
</hibernate-configuration>